<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<span th:insert="header :: copy"></span>
<h2 align="center" th:utext="#{label.pastReports}"></h2>
<div class="center">
    <tr th:each="report,iterStat : ${session.pastReports}" th:class="${iterStat.index}? 'index'">
        <div class="pastReports">
            <p>id:<span th:text="${report.id}"></span></p>
            <p th:text="#{label.theme(${report.name})}"></p>
            <p th:text="#{label.date(${#dates.format(report.date,'dd/MM/YYYY')})}"></p>
            <p th:text="#{label.time(${#dates.format(report.time,'HH:mm')})}" }></p>
            <p th:text="#{label.city(${report.address.city})}"></p>
            <p th:text="#{label.street(${report.address.street})}"></p>
            <p th:text="#{label.building(${report.address.building})}"></p>
            <p th:text="#{label.room(${report.address.room})}"></p>
            <p><span th:utext="#{label.static.speaker}"></span>:
                <span th:if="${report.speaker!= null}" th:text="${report.speaker.name}"></span>
                <span th:if="${report.speaker!= null}" th:text="${report.speaker.surname}"></span>
            </p>
            <p th:text="#{label.presence(${report.presence})}"></p>

            <span th:if="${session.user.position.position=='Admin'}">
                <form method="post" action="/admin/addPresence">
                    <input type="hidden" name="index" th:value="${iterStat.index}">
            <span><input type="text" th:placeholder="#{label.attendance}"  required name="presence" pattern="[0-9]{1,}"/></span>
            <input type="submit" th:value="#{label.setAttendance}">
            </form>
            <form method="post" action="/admin/deletePastReport">
                <input type="hidden" name="reportId" th:value="${report.id}">
                <span> <input type="submit" th:value="#{label.delete}"></span>
            </form>
            </span>
        </div>
    </tr>
</div>

<div class="blockBottom">
    <tr th:each="button,iterStat : ${session.pastButtons}" th:class="${iterStat.index}? 'index'">
        <form class="buttons" method="get" action="/cabinet/pastReports">
            <input type="hidden" name="page" th:value="${button}-1">
            <span th:if="${session.pastPage==button-1}">
                      <input class="b" type="submit" th:value="${button}"></span>
            <span th:unless="${session.pastPage==button-1}">
                       <input type="submit" th:value="${button}"></span>
        </form>
    </tr>
    <p th:switch="${message}">
        <span th:case="'successfulChanges'"> <span th:text="#{successfulChanges}"></span></span>
        <span th:case="'errorNumber'"> <span th:text="#{errorNumber}"></span></span>
    </p>
</div>


<div class="elements">
    <span th:utext="#{label.amountElementsOnPage}"></span>
    <form method="get" action="/cabinet/pastReports">
        <select size="1" name="size" onchange="submit()">
            <option th:utext="${session.pastSize}"></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </form>
</div>


</body>
</html>