<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:insert="header :: copy"></div>
<h2 align="center" th:text="#{label.registration}"></h2>
<div class="center">
    <div class="register">
        <form method="post" action="/welcome/register">
            <p><input type="text" name="name" required th:placeholder="#{label.name}" size="25"
                      pattern="[A-Za-zА-Яа-яЁёІіЄєЇї-]{1,50}"/></p>
            <p><input type="text" name="surname" required th:placeholder="#{label.surname}" size="25"
                      pattern="[A-Za-zА-Яа-яЁёІіЄєЇї-]{1,50}"/></p>
            <p><input type="email" name="email" required placeholder="Email" size="25"
                      pattern="[a-z0-9_%+-]+@[a-z0-9_]+\.[a-z]{2,}[\.a-z]{0,}"/></p>
            <p><input type="password" name="password" required th:placeholder="#{label.password}" size="25"
                      pattern="[A-Za-zА-Яа-яЁёІіЄєЇї0-9]{5,}"/></p>
            <p>
                <select size="1" name="userType">
                    <option value="User" th:text="#{label.user}"></option>
                    <option value="Speaker" th:text="#{label.speaker}"></option>
                </select>
            </p>
            <p><input type="submit" th:value="#{label.registration}"/></p>
        </form>
    </div>

    <p th:switch="${message}">
        <span th:case="'errorEmailForm'"> <span th:text="#{errorEmailForm}"></span></span>
        <span th:case="'errorPassword'"> <span th:text="#{errorPassword}"></span></span>
        <span th:case="'errorEmptyForm'"> <span th:text="#{errorEmptyForm}"></span></span>
        <span th:case="'errorNameOrSurname'"> <span th:text="#{errorNameOrSurname}"></span></span>
        <span th:case="'errorUserExists'"> <span th:text="#{errorUserExists}"></span></span>
    </p>
</div>

</body>
</html>